body{
    background-color: green;
}

#wrapper{
	width: 900px;
	margin:0 auto;
}

header h1{
    text-align:center;
}

img.player-pic{
	width: 100px;
}

/* ---------- CSS animation for each card ----------- */
img.cards{
	
	animation: cardDealt;
	animation-delay: 2s,
}

@keyframes cardDealt{
	
}

/* ------------- end card animation ---------------- */

footer p{
	width: 600px;
	margin: 0 auto;
	font-size: .7em;
}
