body{
    background:url(../img/casino-carpet.jpg);
    background-repeat: repeat;
}

#wrapper{
	background-color: #01401C;
	width: 1000px;
	margin:0 auto;
	padding:10px;
	border-radius: 10px;
}

header{
	background-color: #167B43;
	border-radius: 10px;
}

header h1{
    text-align:center;
    color:black;
    font-size: 3em;
}

h2{
	float:left;
	color: yellow;
}

#player-container{
	border: 1px gold solid;
	background-color: rgba(0,128, 0, .75);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	width: 900px;
	margin:0 auto;

	
}

#player-container h4{
	color: white;
	display: inline;
	padding-bottom: 5px;
}

#player-container span{
	display: inline;
	color: white;
	float:right;
}

#winner{
	animation: winner 3s infinite;
	transition-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-delay:.85s;
	opacity: 0;
	border-radius: 20px;
	padding: 5px;
	margin: 35px 20px 0 0;
	font-size: 1.7em;
}

@keyframes winner{
	0%  {box-shadow: 10px 10px 25px gold;
	     opacity: .45;
	     background-color: rgba(255,215,0, .4);
	    }
	100%{box-shadow: 10px 10px 40px gold;
	     background-color: rgba(255,215,0, .85);
	     opacity: 1;
	    }
}

img.player-pic{
	width: 100px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 40px;
	margin-top: 10px;
}


/* ---------- CSS animation for each card ----------- */
img.cards{
	animation: cardDealt 3s 1;
	tansition-timing-function: ease-in;
	animation-delay: 0s;
	margin-left:5px;
}

@keyframes cardDealt{
	0%{opacity: 0;}
	20%{opacity: .1;}
	100%{opacity: 1;}
}

/* ------------- end card animation ---------------- */


#btnContainer{
	margin-top: 25px;
	margin-bottom 25px;
	text-align: center;
}

#btnDeal{
	font-size: 2em;
	color: gold;
	text-decoration: none;
	background-color: rgba(0,128, 0, .75);
	padding:6px;
}

#btnDeal:hover{
	box-shadow: 5px 5px 40px gold;
}

#btnDeal:active{
	background-color: rgba(0,128, 0, 1)
}

footer p{
	width: 600px;
	margin: 0 auto;
	font-size: .7em;
}
