body{
    background:url(../img/casino-carpet.jpg);
    background-repeat: repeat;
}

#wrapper{
	width: 900px;
	margin:0 auto;
}

header{
	background-color: rgba(0,0,0, .85);
	border-radius: 10px;
}

header h1{
    text-align:center;
    color:green;
    font-size: 3em;
}

#player-container{
	border: 1px gold solid;
	background-color: rgba(0,128, 0, .75);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
}

#player-container h4{
	color: white;
}

img.player-pic{
	width: 100px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 40px;
}



/* ---------- CSS animation for each card ----------- */
img.cards{
	animation: cardDealt 3s 1;
	tansition-timing-function: ease-in;
	animation-delay: 0s;
	margin-left:5px;
}

@keyframes cardDealt{
	0%{opacity: 0;}
	20%{opacity: .1;}
	100%{opacity: 1;}
}

/* ------------- end card animation ---------------- */


footer p{
	width: 600px;
	margin: 0 auto;
	font-size: .7em;
}
